---
layout: default
---

{% assign carousel_items = site.posts | where: 'carousel', 'true' %}
{% assign carousel_items_count = carousel_items | size %}

<div id="featured" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% if site.carousel_total_items_count > carousel_items_count %}
      {% assign max_slides = carousel_items_count | minus: 1 %}
    {% else %}
      {% assign max_slides = site.carousel_total_items_count | minus:1 %}
    {% endif %}

    {% for slide_num in (0..max_slides) %}
      <li data-target="#featured" data-slide-to="{{ slide_num }}" class="{% if forloop.index0 == 0 %}active{% endif %}"></li>
    {% endfor %}

  </ol>

  <div class="carousel-inner" role="listbox">

    {% for post in carousel_items limit: carousel_total_items_count %}
      <div class="item{% if forloop.index0 == 0 %} active{% endif %}">
        <img src="{{ post.url | remove: '.html' | prepend: '/images' | prepend: site.baseurl }}.carousel.jpg" alt="{{ post.title }}">
        <div class="container">
          <div class="carousel-caption">
            <h1>{{ post.title }}</h1>
            <p>{{ post.description }}</p>
            <p><a class="btn btn-lg btn-primary" href="{{ post.url | prepend: site.baseurl }}" role="button">Посмотреть</a></p>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>

  <a class="left carousel-control" href="#featured" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#featured" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container marketing">

  {% assign grouped_posts = site.posts | sort | group_by: "date" %}
  {% for posts in grouped_posts %}
    <div class="row">

      {% for post in posts["items"] %}
        <div class="col-lg-4">
          <img class="img-circle" src="{{ post.url | remove: '.html' | prepend: '/images' | prepend: site.baseurl }}.circle.jpg" alt="{{ post.title }}" width="140" height="140">
          <h2>{{ post.title }}</h2>
          <p>{{ post.description }}</p>
          <p><a class="btn btn-default" href="{{ post.url | prepend: site.baseurl }}" role="button">Посмотреть</a></p>
        </div>
      {% endfor %}

    </div>
  {% endfor %}

</div>
